@font-face {
  font-family: Aboreto;
  src: url(font/Aboreto-Regular.ttf);
}

@font-face {
  font-family: DynaPuff;
  src: url(font/DynaPuff-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: BebasNeue;
  src: url(font/BebasNeue-Regular.ttf);
}

svg {
  position: relative;
}

html,
body {
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f8fafc;
}

img {
  border-radius: 5px;
}

button {
  border-radius: 5px;
  border: none;
  transition: 500ms;
}

.add_book_button:hover {
  background-color: #d6d3d1;
}

.submit_button {
  background-color: #ff7dcb;
  color: #83ded2;
  font-weight: 600;
  font-family: BebasNeue;
  font-size: 12px;
  letter-spacing: 1px;
  width: 69px;
  height: 23px;
}
.submit_button:hover {
  background-color: #f5c1e5;
}

.submit_button:focus {
  background-color: #ffe0f7;
}

.overlay_close_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  font-size: 16px;
  color: #dc2626;
  font-weight: 900;
  background-color: transparent;
  cursor: pointer;
}

.overlay_close_button:hover {
  color: #e6231cf5;
}

input {
  border: none;
  border-radius: 5px;
}

input:focus {
  border: none;
  outline: #f5c1e5;
  box-shadow: 0px 0px 4px 1px #482254;
}

.header {
  display: flex;
  height: 80px;
  box-shadow: 2px 2px 19px #e2e8f0;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}

.logo {
  height: 80px;
}

.add_book_button {
  position: fixed;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  height: 75px;
  width: 75px;
  padding: 0%;
  border: none;
  outline: 1px solid #c1c1d2;
  background-color: #e6e6ec;
  color: #1a1a24;
  border-radius: 10px;
}

.add_book_button:hover {
  outline: 1px solid rgba(127, 127, 164, 0.9);
  background-color: rgba(230, 230, 236, 0.6);
  color: #0e0e12;
}

.add_book_button:focus {
  outline: 1px solid #a6a6bf;
  background-color: #e6e6ec;
  color: #333346;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  position: fixed;

  z-index: 700;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(68, 64, 60, 0.5);
}

.overlay.open {
  display: flex;
}

.overlay_contents {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  background-color: #764ead;
  border-radius: 5px;
  outline: 2px solid #482254;
}

.add_book_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  opacity: 1;
  background-color: #8f8cf3;
  padding: 50px;
  width: 500px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: auto;
  outline: 2px solid #482254;
}

.input_container_one,
.input_container_two {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input_one,
.input_two {
  display: flex;
  flex-direction: column;

  color: #fb6cff;
  font-weight: 599;
  font-family: BebasNeue, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

.required_input::after {
  content: " *";
  font-size: x-small;
  color: #dc2626;
}
.optional::after {
  content: " (optional)";
  font-size: x-small;
  color: lightgrey;
}

.book_title_input,
.book_author_input,
.book_pages_input,
.book_cover_input {
  background-color: #ffe0f7;
  padding: 4px;
  transition: 250ms;

  font-size: 10px;

  height: 17px;
  width: 180px;
}

.book_read_or_not_input:focus {
  box-shadow: none;
}

.input_container_three {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.read_or_not_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  color: #fb6cff;
  font-weight: 599;
  font-size: 12px;
  font-family: BebasNeue, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  display: flex;
  background-color: #fafaf9;
  width: 200px;
  height: 340px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 2px 3px 10px #e7e5e4;
}

.img_container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("images/no-image-cover.png");
  background-size: cover;
  background-position: center -5px;
  height: 240px;
  width: 200px;
}

.more_info_container {
  position: absolute;
  top: 4px;
  right: 4px;
  transition: 150ms;
  border-radius: 5px;
  padding: 1px;
  height: 24px;
  cursor: pointer;
}

.more_info_button {
  position: absolute;
  z-index: 3;
  right: 1px;
  padding: 0%;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.more_info_button:hover {
  background-color: rgba(245, 245, 245, 0.4);
  outline: 1px solid rgba(163, 163, 163, 0.7);
}

.up_arrow,
.down_arrow {
  display: none;
}

.up_arrow.open,
.down_arrow.open {
  display: inline-block;
  color: #27272a;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.remove_card {
  display: none;
  position: absolute;

  cursor: pointer;

  top: 28px;
  right: 0px;
  bottom: 0px;
  height: 20px;
  z-index: 100;

  background-color: #dc2626;
}

.remove_card.open {
  display: inline-block;
}

.book_cover {
  flex-grow: 1;
  background-image: url(./images/no-image-cover.png);
  background-size: cover;
  background-repeat: no-repeat;

  object-fit: cover;
}

.book_title {
  line-height: 1.5;
  height: clamp(21px, 50%, 45px);
  font-size: 15px;
  font-weight: 600;
  font-family: Aboreto, Arial, Helvetica, sans-serif;
  padding-top: 4px;
  padding-left: 7px;
  padding-right: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  font-family: DynaPuff, Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 7px;
  padding-right: 7px;
}
.actual_author_name {
  height: 33px;
  width: 122px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actual_author_name::before {
  content: "Author: ";
  font-weight: 900;
  font-size: 13px;
  font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}
.info_card {
  position: relative;
  height: 20px;
  width: 20px;
  font-size: 11px;
}

.read_button_flip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40.8px;
  background-color: transparent;
  cursor: pointer;
}

.read_button_flip:hover {
  background-color: rgba(203, 213, 225, 0.5);
  outline: 1px solid rgba(163, 163, 163, 0.7);
  box-shadow: 0px 2px 5 px rgba(163, 163, 163, 0.7);
}

.info_card_text {
  color: #a8a29e;
  font-family: BebasNeue, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 32.9px;
}

.book_metadata {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  bottom: 0px;
  left: 1px;
  gap: 10px;
  padding: 3px;
  border-radius: 5px;

  background-color: #fafafa;
  transition: 3s;
  transition-timing-function: cubic-bezier(1, -3.34, 0.06, 1.54);
}

.author:hover .book_metadata {
  opacity: 1;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  /* padding: 3px; */
}
