@font-face {
  font-family: Aboreto;
  src: url(font/Aboreto-Regular.ttf);
}

@font-face {
  font-family: DynaPuff;
  src: url(font/DynaPuff-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: BebasNeue;
  src: url(font/BebasNeue-Regular.ttf);
}

form {
  outline: 2px solid red;
}

svg {
  position: relative;
}

html,
body {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #f8fafc;
}

img {
  border-radius: 5px;
}

button {
  border-radius: 5px;
  border: none;
  transition: 500ms;
}

.submit_button:hover,
.overlay_close_button:hover,
.add_book_button:hover {
  background-color: #d6d3d1;
}

input {
  border-radius: 5px;
}

.header {
  height: 80px;
  box-shadow: 2px 2px 19px #e2e8f0;
  background-color: white;
}

.logo {
  height: 80px;
}

.content {
  display: grid;
  /* grid-template-columns: ; */
}

.add_book_button {
  position: fixed;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  height: 75px;
  width: 75px;
  padding: 0%;
  border: none;
  outline: 2px solid #a3a3a3;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  position: fixed;

  z-index: 700;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(68, 64, 60, 0.5);
}

.overlay.open {
  display: flex;
}

.overlay_contents {
  position: fixed;
  z-index: 1000;
  background-color: rgba(76, 175, 80, 1);
}

.add_book_form {
  display: flex;

  flex-wrap: wrap;
  gap: 20px;
  opacity: 1;
  background-color: cadetblue;
  padding: 50px;
  width: 500px;
  cursor: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.card {
  display: flex;
  background-color: #fafaf9;
  width: 200px;
  height: 340px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 2px 3px 10px #e7e5e4;
}

/* Stock Price Prediction, a referential approach on how to predict the stock price using */

.img_container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("images/no-image-cover.png");
  background-size: cover;
  background-position: center -5px;
  height: 240px;
  width: 200px;
}

.more_info_container {
  position: absolute;
  top: 4px;
  right: 4px;
  transition: 150ms;
  border-radius: 5px;
  padding: 1px;
  height: 24px;
  cursor: pointer;
}

/* .more_info_container:hover {
  background-color: rgba(245, 245, 245, 0.4);
  outline: 1px solid rgba(163, 163, 163, 0.7);
} */

.more_info_button {
  position: absolute;
  z-index: 3;
  right: 1px;
  padding: 0%;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.more_info_button:hover {
  background-color: rgba(245, 245, 245, 0.4);
  outline: 1px solid rgba(163, 163, 163, 0.7);
}

.remove_card {
  display: block;
  position: absolute;

  cursor: pointer;

  top: 28px;
  right: 0px;
  bottom: 0px;
  height: 20px;
  z-index: 100;

  background-color: #dc2626;
}

.remove_card.open {
  display: inline-block;
}

.book_cover {
  flex-grow: 1;
  object-fit: cover;
}

.book_title {
  line-height: 1.5;
  height: clamp(21px, 50%, 45px);
  font-size: 15px;
  font-weight: 600;
  font-family: Aboreto, Arial, Helvetica, sans-serif;
  padding-top: 4px;
  padding-left: 7px;
  padding-right: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .book_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
} */

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  font-family: DynaPuff, Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 7px;
  padding-right: 7px;
}
.actual_author_name {
  height: 33px;
  width: 122px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actual_author_name::before {
  content: "Author: ";
  font-weight: 900;
  font-size: 13px;
  font-family: system-ui;
  overflow: hidden;
}
.info_card {
  height: 20px;
  font-size: 11px;
}

.read_button_flip {
  background-color: transparent;
  cursor: pointer;
}

.read_button_flip:hover {
  background-color: rgba(203, 213, 225, 0.5);
  outline: 1px solid rgba(163, 163, 163, 0.7);
  box-shadow: 0px 2px 5 px rgba(163, 163, 163, 0.7);
}

.info_card_text {
  color: #a8a29e;
  font-family: BebasNeue, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 32.9px;
}

.book_metadata {
  display: flex;
  opacity: 0;
  position: relative;
  bottom: 0px;
  left: 1px;
  gap: 10px;
  padding: 3px;
  border-radius: 5px;

  background-color: #fafafa;
  transition: 300ms;
}

.author:hover .book_metadata {
  opacity: 1;
  /* padding: 3px; */
}
